@model List<Booking_Room.Models.Domain.RoomType>

@{

}

<div class="card">
    <div class="card-header">
        Loại phòng
        <a class="btn btn-primary float-end"
           asp-area=""
           asp-controller="RoomType"
           asp-action="Add">ADD</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if(Model != null)
                    {
                        int i = 1;
                        @foreach (var roomtype in Model)
                        {
                            <tr>
                                <th scope="row">@i</th>
                                <td>@roomtype.Id</td>
                                <td>@roomtype.Name</td>
                                <td><a class="btn btn-danger" href="/RoomType/Delete/@roomtype.Id">Xóa</a></td>
                            </tr>
                            i++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
